<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>ChatBot</title>
    <meta http-equiv="Refresh" content="300">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
      <link rel="stylesheet" href="{% static 'chat/css/style.css' %}">
</head>
 
<body>

 <div id="myModal" class="modal">
  <!-- Modal content -->

  <div class="modal-content">
    <span class="close" style="color: #000000">&times;</span>
    <div class="modal-header">
      
      <h1 style="text-align: center; font-size: 10"><b>ALL FILES</b></h1>
    </div>
    <div class="modal-body">
    <table>
      {% if files %}
        {% for message in files %}
          <tr>
              <a href="{{message.file.url|safe}}" target="_blank"><img src="static/chat/img/file.png" height=100 width=100><img src="static/chat/img/view.png" height=50 width=50 style="float:right"></a>
              <a href="{{message.file.url|safe}}" download><img src="static/chat/img/download.png" height=40 width=40 style="float:right"></a><br/><br>
              <button style="background-color: #008CBA; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block;font-size: 16px; float: center" >{{message.file}}</button><br/><br>
            
            
          </tr><br/><br><br/><br>
        {% endfor %}
      {% endif %}
    </table>
    </div>
  </div>

</div>

  <div class="card">
    <div class="container ">
    <div class="chat">

      <div class="chat-header clearfix">
        <img src="{% static 'chat/img/chat.png' %}" height="40" width="40" alt="avatar" />
        <div class="chat-about">
          <div class="chat-with">ChatBot</div>
          <!-- <div class="chat-num-messages">chat count</div> -->
        </div>
        <i onclick="openAllFiles()" class="fa fa-folder-open"></i>

      </div> <!-- end chat-header -->
      
      <div class="chat-history">
        <ul>
          
        </ul>
      </div> 
      <!-- end chat-history -->
      
      <div class="chat-message clearfix" id="message-ch">
        <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="2"></textarea>
                
        <!-- <i class="fa fa-file-o"></i>&nbsp;&nbsp;&nbsp; -->
          <i class="fa fa-file-o" onclick="check()"></i> &nbsp;&nbsp;&nbsp;
          <input type="file" id="file-upload" onchange="sendfile()" name="file-ch" accept="application/*, image/*"hidden />
        <span id="file-name"></span> 
        <button>Send</button>

      </div> <!-- end chat-message -->
      
    </div> <!-- end chat -->
    
  </div> 
  <!-- end container -->
  </div>
<!-- end card -->
{% verbatim %}
<script id="message-template" type="text/x-handlebars-template">
  <li class="clearfix">
    <div class="message-data align-right">
      <span class="message-data-time" >{{time}}</span> &nbsp; &nbsp;
      <span class="message-data-name" >Prashant</span> <i class="fa fa-circle me"></i>
    </div>
    <div class="message other-message float-right">       
         {{messageOutput}}

    </div>
  </li>
</script>
{% endverbatim %}

{% verbatim %}
<script id="message-template-history" type="text/x-handlebars-template">
  <li class="clearfix">
    <div class="message-data align-right">
      <span class="message-data-time" >{{time}}</span> &nbsp; &nbsp;
      <span class="message-data-name" >Prashant</span> <i class="fa fa-circle me"></i>
    </div>
    <div class="message other-message float-right">
         {{messageOutput}}
    </div>
  </li>
</script>
{% endverbatim %}

{% verbatim %}
<script id="message-template-history-file" type="text/x-handlebars-template">
  <li class="clearfix">
    <div class="message-data align-right">
      <span class="message-data-time" >{{time}}</span> &nbsp; &nbsp;
      <span class="message-data-name" >Prashant</span> <i class="fa fa-circle me"></i>
    </div>
    <div class="message other-message float-right">
        <!-- {{file}}  -->
        <a href="{{file}}" target="_blank"><img src="static/chat/img/view.png" height=100 width=100>
          <button style="background-color: #008CBA; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block;font-size: 16px;">{{filename}}</button>
        </a> &nbsp; &nbsp;
        <a href="{{file}}" download><img src="static/chat/img/download.png" height=40 width=40 style="float:right"></a>
        
    </div>
  </li>
</script>
{% endverbatim %}

{% verbatim %}
<script id="message-template-both" type="text/x-handlebars-template">
  <li class="clearfix">
    <div class="message-data align-right">
      <span class="message-data-time" >{{time}}</span> &nbsp; &nbsp;
      <span class="message-data-name" >Prashant</span> <i class="fa fa-circle me"></i>
    </div>
    <div class="message other-message float-right">
        <!-- {{messageOutput}} <br>
        <a href="{{file}}" target="_blank">View File </a> -->
        <a href="{{file}}" target="_blank"><img src="static/chat/img/view.png" height=100 width=100>
          <button style="background-color: #008CBA; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block;font-size: 16px;">{{filename}}</button>
        </a> &nbsp; &nbsp;
        <a href="{{file}}" download><img src="static/chat/img/download.png" height=40 width=40 style="float:right"></a>
    </div>
    <div class="message other-message float-right">
     {{messageOutput}}
   </div>
  </li>
</script>
{% endverbatim %}

{% verbatim %}
<script id="message-response-template" type="text/x-handlebars-template">
  <li>
    <div class="message-data">
      <span class="message-data-name"><i class="fa fa-circle online"></i> Bot</span>
      <span class="message-data-time"> {{time}} </span>
    </div>
    <div class="message my-message">
      {{response}}
    </div>
    <div name="feedback-bot" id="feedback-bot">
         &nbsp;&nbsp;&nbsp;&nbsp;Do you like the response: &nbsp;&nbsp;
          <i  onclick="feedBackPos({{id}})" class="fa fa-thumbs-up" id="feedback-bot-up" style="font-size: 2em;" ></i>&nbsp;&nbsp;
          <i onclick="feedBackNeg({{id}})" class="fa fa-thumbs-down" id="feedback-bot-down" style="font-size: 2em;" ></i>
    <div>
  </li>
</script>
{% endverbatim %}


{% verbatim %}
<script id="message-response-template-history" type="text/x-handlebars-template">
  <li>
    <div class="message-data">
      <span class="message-data-name"><i class="fa fa-circle online"></i> Bot</span>
      <span class="message-data-time"> {{time}} </span>
    </div>
    <div class="message my-message">
      {{response}}
    </div>
  </li>
</script>
{% endverbatim %}

{% verbatim %}
<script id="message-like" type="text/x-handlebars-template">
  <li>
    <div class="message-data">
      <span class="message-data-name"><i class="fa fa-circle online"></i> Bot</span>
      <span class="message-data-time"> {{time}} </span>
    </div>
    <div class="message my-message">
      <i class="fa fa-thumbs-up" style="font-size: 2em;" ></i>&nbsp;&nbsp;
    </div>
  </li>
</script>
{% endverbatim %}

{% verbatim %}
<script id="message-dislike" type="text/x-handlebars-template">
  <li>
    <div class="message-data">
      <span class="message-data-name"><i class="fa fa-circle online"></i> Bot</span>
      <span class="message-data-time"> {{time}} </span>
    </div>
    <div class="message my-message">
      <i class="fa fa-thumbs-down"  style="font-size: 2em;" ></i>
    </div>
  </li>
</script>
{% endverbatim %}

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js'></script>

<script type="text/javascript">

  function feedBackPos(id) {
      $.ajax({
        type: "PUT",
        url : "api-message/",
        dataType: "json",
        data: {"bot-feedback": 1, "bot-id": id, "feedback-or-file": "1"},
        success : function (value) {
              var response = "Thanks! we are working hard to be best.";
              document.getElementById("file-name").innerHTML = response;
              function allert(){
                document.getElementById("file-name").innerHTML = "";
              }
              
              window.setTimeout( allert ,3000 );
              // document.getElementById("file-name").innerHTML = "";
              console.log();
        }
    });

  };

  function feedBackNeg(id){
    // window.alert("We are trying to be better everyday");
    // document.getElementById(eid).style.color = 'red'

    $.ajax({
        type: "PUT",
        url : "api-message/",
        dataType: "json",
        data: {"bot-feedback": -1, "bot-id": id, "feedback-or-file": "1"},
        success : function (value) {
              var response = "Sorry! We are getting better everyday.";
              document.getElementById("file-name").innerHTML = response;
              function allert(){
                document.getElementById("file-name").innerHTML = "";
              }
              
              window.setTimeout( allert ,3000 );
              
        }
    });
  };

  FileToSend = new File([""], "filename"); 
  var pid = 1;

  function check(){
    console.log("file input started");
     var elem = document.getElementById("file-upload");
     elem.click();
   
  };

  function sendfile(){
      console.log("Input change");
      var elem = document.getElementById("file-upload");
      document.getElementById("file-name").innerHTML =  elem.files[0].name;
      FileToSend = elem.files;
  }


  codekey = 0;

  (function(){

  var chat = {

    messageToSend: '',
    messageResponses: [
      'Hey! you can upload your files here.',
      'Your response has been recorded.',
      'Please wait, I am processing your query.',
      'Have a nice day.',
      'This seems interesting, wait till I analyse it.',
      'I will get back to you with the results.'
    ],
    init: function() {
      this.cacheDOM();
      this.bindEvents();
      this.render();
      this.earlierMessage();
    },
    cacheDOM: function() {
      this.$chatHistory = $('.chat-history');
      this.$button = $('button');
      this.$textarea = $('#message-to-send');
      this.$chatHistoryList =  this.$chatHistory.find('ul');
    },
    bindEvents: function() {
      this.$button.on('click', this.addMessage.bind(this));
      this.$textarea.on('keyup', this.addMessageEnter.bind(this));
    },
    render: function() {
      this.scrollToBottom();
      

      // both file and Text 
      if(this.messageToSend.trim() !== '' && FileToSend.length != 0 && FileToSend.length !== undefined){
        console.log("Both uploaded");
        var template = Handlebars.compile( $("#message-template-both").html());
        var context = { 
          messageOutput: this.messageToSend.trim(),
          file: "/media/"+FileToSend[0].name,
          time: this.getCurrentTime(),
          filename: FileToSend[0].name
        };
        // console.log(context);
        this.$chatHistoryList.append(template(context));
        this.scrollToBottom();
        this.$textarea.val('');
        
        // responses
        var templateResponse = Handlebars.compile( $("#message-response-template").html());
        var contextResponse = { 
          response: this.getRandomItem(this.messageResponses),
          time: this.getCurrentTime(),
          id: pid.toString()
        };
        pid++;

        var formData = new FormData();
        for (var i=0;i<FileToSend.length; i++){
          // console.log(FileToSend[i]);
          formData.append("file-q", FileToSend[i]);
        }
        formData.append("text", context.messageOutput);
        
        $.ajax({
          type: "POST",
          url : "api-message/",
          // dataType : "json",
          data: formData,
          cache: false,
          contentType: false,
          processData: false,
          success : function (value) {
            console.log("send request file");
            document.getElementById("file-name").innerHTML =  "";
            $.ajax({
              type: "POST",
              url: "api-message/",
              dataType: "json",
              data: {"text": contextResponse.response, "user": "1"},
              success : function (value) {
                console.log("send request response");
              }
            });
          }
        });

        setTimeout(function() {
          this.$chatHistoryList.append(templateResponse(contextResponse));
          this.scrollToBottom();
        }.bind(this), 2000);

        FileToSend = "";
      }
      // Only text Sending
      else if (this.messageToSend.trim() !== '') {
        console.log("Only Text Sending");
        var template = Handlebars.compile( $("#message-template").html());
        var context = { 
          messageOutput: this.messageToSend.trim(),
          time: this.getCurrentTime()
        };
        
        this.$chatHistoryList.append(template(context));
        this.scrollToBottom();
        this.$textarea.val('');
        
        // responses
        var templateResponse = Handlebars.compile( $("#message-response-template").html());
        var contextResponse = { 
          response: this.getRandomItem(this.messageResponses),
          time: this.getCurrentTime(),
          id: pid.toString()
        };
        pid++;
        $.ajax({
          type: "POST",
          url : "api-message/",
          dataType : "json",
          data: {"text" : this.messageToSend.trim() },
          success : function (value) {
            console.log("send request");
            $.ajax({
              type: "POST",
              url: "api-message/",
              dataType: "json",
              data: {"text": contextResponse.response, "user": "1"},
              success : function (value) {
                console.log("send request");
              }
            });
          }
        });
   
        setTimeout(function() {
          this.$chatHistoryList.append(templateResponse(contextResponse));
          this.scrollToBottom();
        }.bind(this), 3000);

        FileToSend = "";
      }

      // Only File is uploaded
      else if(FileToSend.length != 0 && FileToSend.length !== undefined){
        
        console.log("Only File");
        var template = Handlebars.compile( $("#message-template-history-file").html());
        var context = { 
          file: "/media/"+FileToSend[0].name,
          time: this.getCurrentTime(),
          filename: FileToSend[0].name
        };
        // console.log(context);
        this.$chatHistoryList.append(template(context));
        this.scrollToBottom();
        this.$textarea.val('');
        
        // responses
        var templateResponse = Handlebars.compile( $("#message-response-template").html());
        var contextResponse = { 
          response: this.getRandomItem(this.messageResponses),
          time: this.getCurrentTime(),
          id: pid.toString()
        };

        pid++;
        var formData = new FormData();
        for (var i=0;i<FileToSend.length; i++){
          console.log(FileToSend[i]);
          formData.append("file-q", FileToSend[i]);
        }

        
        $.ajax({
          type: "POST",
          url : "api-message/",
          // dataType : "json",
          data: formData,
          cache: false,
          contentType: false,
          processData: false,
          success : function (value) {
            console.log("send request file");
            document.getElementById("file-name").innerHTML =  "";
            $.ajax({
              type: "POST",
              url: "api-message/",
              dataType: "json",
              data: {"text": contextResponse.response, "user": "1"},
              success : function (value) {
                console.log("send request response");
              }
            });
          }
        });

        setTimeout(function() {
          this.$chatHistoryList.append(templateResponse(contextResponse));
          this.scrollToBottom();
        }.bind(this), 3000);
        FileToSend = "";
      }
      
    },

    earlierMessage: function() {
      this.scrollToBottom();
      {% if messages %}

        {% for message in messages %}

          {% if message.user == 0 %}

            {% if message.text == None %}
              var template = Handlebars.compile( $("#message-template-history-file").html());
              context = {
                  file: "{{message.file.url|safe}}",
                  time: "{{message.created_at|safe}}",
                  filename: "{{message.file|safe}}"
              }
              this.$chatHistoryList.append(template(context));

            {% else %}
              var template = Handlebars.compile( $("#message-template-history").html());
              var context = { 
                messageOutput: "{{message.text|safe}}",
                file: "{{message.file|safe}}",
                time: "{{message.created_at|safe}}"
              };
              this.$chatHistoryList.append(template(context));
            {% endif %}
            
            this.scrollToBottom();
          {% else %}

            var templateResponse = Handlebars.compile( $("#message-response-template-history").html());
            var contextResponse = { 
              response: "{{message.text|safe}}",
              file: "{{message.file|safe}}",
              time: "{{message.created_at|safe}}"
            };
            this.$chatHistoryList.append(templateResponse(contextResponse));
            this.scrollToBottom();

          {% endif %}

        {% endfor %}

      {% endif %}
    },
    


    addMessage: function() {
      this.messageToSend = this.$textarea.val();
      this.render();         
    },
    addMessageEnter: function(event) {
        // enter was pressed
        if (event.keyCode === 13) {
          console.log("Enter");
          this.addMessage();
        }
    },

    scrollToBottom: function() {
       this.$chatHistory.scrollTop(this.$chatHistory[0].scrollHeight);
    },
    getCurrentTime: function() {
      return new Date().toLocaleTimeString().
              replace(/([\d]+:[\d]{2})(:[\d]{2})(.*)/, "$1$3");
    },
    getRandomItem: function(arr) {
      return arr[Math.floor(Math.random()*arr.length)];
    }

    };
  
  chat.init();


})();


</script>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
function openAllFiles() {
  modal.style.display = "block";

  $.ajax({
    url: "api-message/",
    dataType: "json",
    type: "PUT",
    data: {"feedback-or-file":"2"},
    success: function(value){
      console.log(value);
    }

  });
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
</body>

</html>

